[icinga2]
transport = "api"
host = "{{ icingaweb2_icinga_api_host }}"
port = "{{ icingaweb2_icinga_api_port }}"
username = "{{ icingaweb2_icinga_api_username }}"
password = "{{ icingaweb2_icinga_api_password }}"
